# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-wheel-metadata/
*.dist-info/
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
ENV/

# Flask specific
instance/
.webassets-cache

# Pytest
.cache

# My configurations
*.ini
*.cfg
*.json

# Database
*.sqlite3

# Logs
*.log

# Secrets
service.json

# Backup files
*.bak

# OS files
.DS_Store
Thumbs.db
